body {
    margin: 0;
    font-family: "Poppins";
    background-color: #F6F7F8;
    color: #000;
}

nav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100vmax;
    background-color: #Fff;
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    align-items: center;
    padding: 0px 5px;
    box-shadow: 0 0 10px #8d8a8a;
}

.nav_logo {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 48px;
    height: 42px;
}

.icon {
    margin: 15px 6px;
    width: 25px;
    height: 25px;
}

#active {
    background-color: #6D4A37;
    padding: 5px 5px;
    border-radius: 10px;
    width: 25px;
    height: 25px;
}

#header_dashboard {
    margin: auto 50px 0px 100px;
    display: flex;
    justify-content: start;
    font-family: 'poppins', sans-serif;
    font-size: 30px;
    font-weight: 500;
}

.dashboard {
    margin: 20px 50px 50px 100px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: max-content;
}

.dashboard_kiri {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.rangkum_data {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.isi_rangkum {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px 10px;
    background-color: #Fff;
    border-radius: 8px;
    border: 1px solid #cccaca;
    text-align: center;
}

.isi_rangkum h2 {
    font-size: 13px;
    font-weight: 600;
}

.isi_rangkum img {
    width: 50px;
    height: 50px;
    margin: 0;
}

.isi_rangkum h3 {
    margin: 0;
    font-size: 35px;
    font-weight: 600;
}

.isi_rangkum p {
    margin: 0;
    font-size: 8px;
    font-weight: 600;
}

.isi_rangkum .green {
    color: rgb(95, 169, 95);
}

.isi_rangkum .red {
    color: rgb(230, 65, 65);
}

.jumlah_pengunjung {
    width: 535px;
    height: 300px;
    padding: 15px 10px;
    background-color: #fff;
    border: 1px solid #cccaca;
    border-radius: 8px;
}

.jumlah_pengunjung h2 {
    text-align: center;
    margin: 0 0 10px 0;
    font-size: 20px;
    font-weight: 500;
}

.dashboard_kanan {
    display: flex;
    flex-direction: column;
    gap:20px;
}

.cerita_terpopuler {
    height: 200px;
    padding: 15px 10px;
    background-color: #fff;
    border: 1px solid #cccaca;
    border-radius: 8px;
}

.grafik_terpopuler {
    display: flex;
    flex-direction: row;
}

.grafik_detail {
    display: flex;
    flex-direction: column;
}

.isi_detail {
    display: flex;
    flex-direction: row;
}