body {
    margin: 0;
    font-family: "Poppins";
    background-color: #F6F7F8;
    color: #000;
}

nav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100vmax;
    background-color: #Fff;
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    align-items: center;
    padding: 0px 5px;
    box-shadow: 0 0 10px #8d8a8a;
}

.nav_logo {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 48px;
    height: 42px;
}

.icon {
    margin: 15px 6px;
    width: 25px;
    height: 25px;
}

#active {
    background-color: #6D4A37;
    padding: 5px 5px;
    border-radius: 10px;
    width: 25px;
    height: 25px;
}

#header_dashboard {
    margin: auto 50px 0px 100px;
    display: flex;
    justify-content: start;
    font-family: 'poppins', sans-serif;
    font-size: 30px;
    font-weight: 500;
}

.dashboard {
    margin: 20px 50px 50px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    background-color: #Fff;
    padding: 20px 30px;
    border-radius: 8px;
}

.dashboard h2 {
    margin: 0;
}

.saran_container {
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-radius: 8px;
    gap: 20px;
}

.saran {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
    border: 2px solid #cccaca;
    border-radius: 8px;
    gap: 8px;
}

.saran_left {
    display: flex;
    flex-direction: column;
}

.saran_top {
    display: flex;
    align-items: center;
    gap: 25px;
}

.saran_top h3 {
    margin: 5px 0px;
}

.saran p {
    margin: 10px 0px;
}

.isi_saran {
    display: flex;
    align-items: center;
    gap: 40px;
}


.pagination {
    display: flex;
    justify-content: start;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

.pagination a.active {
  background-color: #000000;
  color: white;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}
