body {
    margin: 0;
    font-family: "Poppins"; 
    background-color: #F6F7F8;
    color: #000;
}

nav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    height:100vmax;
    background-color: #FEFDF7;
    display: flex;
    flex-direction: column;   
    max-width: fit-content;
    align-items: center;
    padding: 0px 5px;
    box-shadow: 0 0 10px #8d8a8a;
}

.nav_logo {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 48px;
    height: 42px;
}

.icon {
    margin: 15px 6px;
    width: 25px;
    height: 25px;
}

#active {
    background-color: #6D4A37;
    padding: 5px 5px;
    border-radius: 10px;
    width: 25px;
    height: 25px;
}

#dashboard_header {
    margin: auto 50px 0px 100px;
    display: flex;
    justify-content: start;
    font-family: 'poppins', sans-serif;
    font-size: 30px;
    font-weight: 500;
}

.dashboard {
    margin: 20px 50px 50px 100px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: max-content;
}

.dashboard_kiri {
    display: flex;
    flex-direction: column;
}

.rangkum_data {
    display: flex;
    flex-direction: row;
    gap:20px;
}

.isi_rangkum {
    display: flex;
    flex-direction: column;
    padding: 10px 10px;  
    background-color: #FEFDF7;
    border-radius: 8px;
    border: 1px solid #cccaca;
}

.isi_rangkum h2 {
    margin: 0;
    font-size: 20px;
}

.rangkum_detail {
    display: flex;
    flex-direction: row;
}
