body {
    margin: 0;
    font-family: "Poppins"; 
    background-color: #FEFDF7;
    color: #000;
}

nav {
    height:100vh;
    background-color: #FEFDF7;
    display: flex;
    flex-direction: column;   
    max-width: fit-content;
    align-items: center;
    box-shadow: 0 0 10px #8d8a8a;
}

.nav_logo {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 48px;
    height: 42px;
    
}

.icon {
    margin: 20px 6px;
    width: 30px;
    height: 30px;;
}