body {
    margin: 0;
    font-family: "Poppins"; 
    background-color: #FFFBE9;
    color: #000;
}

nav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    height:100vmax;
    background-color: #FEFDF7;
    display: flex;
    flex-direction: column;   
    max-width: fit-content;
    align-items: center;
    padding: 0px 5px;
    box-shadow: 0 0 10px #8d8a8a;
}

.nav_logo {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 48px;
    height: 42px;
    
}

.icon {
    margin: 15px 6px;
    width: 25px;
    height: 25px;
}

#active {
    background-color: #6D4A37;
    padding: 5px 5px;
    border-radius: 10px;
    width: 25px;
    height: 25px;
}


#dashboard_header {
    margin: auto 50px 0px 100px;
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: 400;
}

.ulasan_container {
    margin: auto 100px 0px 140px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.ulasan {
    display: flex;
    flex-direction: column;
    background-color: #FEFDF7;
    border: 2px solid #cccaca;
    border-radius: 8px;
}

.ulasan_top {
    background-color: #f3f2f2;
    padding: 0 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #cccaca ;
}

.isi_ulasan {
    padding: 0 30px;
}

.ulasan h2 {
    font-size: 18px;
    font-weight: 500;
}


