body {
    margin: 0;
    font-family: "Poppins"; 
    background-color: #FFFBE9;
    color: #000;
}

nav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    height:100vmax;
    background-color: #FEFDF7;
    display: flex;
    flex-direction: column;   
    max-width: fit-content;
    align-items: center;
    padding: 0px 10px;
    box-shadow: 0 0 10px #8d8a8a;
}

.nav_logo {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 48px;
    height: 42px;
    
}

.icon {
    margin: 20px 6px;
    width: 30px;
    height: 30px;;
}

#active {
    background-color: #6D4A37;
    padding: 5px 5px;
    border-radius: 10px;
}
 