body {
    margin: 0;
    font-family: "Poppins"; 
    background-color: #FFFBE9;
    color: #000;
}

nav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    height:100vmax;
    background-color: #FEFDF7;
    display: flex;
    flex-direction: column;   
    max-width: fit-content;
    align-items: center;
    padding: 0px 10px;
    box-shadow: 0 0 10px #8d8a8a;
}

.nav_logo {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 48px;
    height: 42px;
    
}

.icon {
    margin: 20px 6px;
    width: 30px;
    height: 30px;;
}

#active {
    background-color: #6D4A37;
    padding: 5px 5px;
    border-radius: 10px;
}
 
#dashboard_header {
    margin: auto 50px auto 100px;
    display: flex;
    justify-content: center;
    font-family: 'poppins', sans-serif;
    font-size: 40px;
    font-weight: 400;
}

.cerita_container {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    gap: 100px;
    margin: 70px 50px 20px 120px;
    justify-content: center;
}

@media (min-width: 992px) and (max-width: 1200px) {
    .cerita_container {
        grid-template-columns: repeat(3, 200px);
        gap: 90px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .cerita_container {
        grid-template-columns: repeat(2, 200px);
        gap: 80px;
        padding: 0 40px 150px;
    }
}

@media (max-width: 767px) {
    .cerita_container {
        grid-template-columns: repeat(1, 200px);
        gap: 70px;
        padding: 0 20px 100px;
    }
    
    h1 {
        font-size: 28px;
        margin: 30px auto;
    }
}
.cerita-wrapper {
    width: 200px;
    padding: 15px;
    border-radius: 14px;
    background-color: #6D4A36;
    color: #F7F4E9;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sampul {
    width: 100%;
    height: 270px;
    border-radius: 6px;
    object-fit: cover;
}

.cerita-wrapper h2 {
    margin: 0;
    font-weight: 600;
    font-size: 18px;
    height: 60px;
    display: flex;
    align-items: center;
}

.cerita-wrapper hr {
    margin: 0;
    border: none;
    border-top: 1px solid #F7F4E9;
}

.rating {
    display: flex;
    align-items: center;
    gap: 8px;
}

.star {
    width: 20px;
    height: 20px;
    cursor: pointer;
     transition: transform 0.2s ease;
}

.rating-number {
    font-size: 16px;
    font-weight: 500;
    margin-right: auto;
}

.icon-small {
    width: 19px;
    height: 19px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.icon-small:hover, .star:hover {
    transform: scale(1.2);
}

.pagination {
    display: flex;
    margin: 50px 50px 50px 100px;
    justify-content: center;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

.pagination a.active {
  background-color: #6D4A37;
  color: white;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}
