body {
    margin: 0;
    padding-top: 70px;
    font-family: "Poppins"; 
    background-color: #FEFDF7;
    color: #000;
}

nav {
    background-color: #FEFDF7;
    font-family: "Inter"; 
    padding: 0.5em 1em;
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px #8d8a8a;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
}

.logo {
    width: 50px;
    display: flex;
    align-items: center;
    margin-right: auto;
    cursor: pointer;
}

.logo p {
    font-size: 12px;
    line-height: 1em;
    font-weight: 600;
    color: #6D4A37;
    margin: 0;
}

nav .profile:hover {
    transform: scale(1.1);
}

nav a {
    text-decoration: none;
    font-weight: 500;
    color: #918d8a;
    font-size: 16px;
    margin-right: 2em;
    transition: all 0.3s ease;
}

nav a:hover, nav a.active {
    color: #000;
    font-weight: 900;
}

nav .profile {
    width: 30px;
    height: 30px;
    cursor: pointer;
}


h1 {
    font-weight: 300;
    font-size: 40px;
    text-align: center;
    margin: 50px auto;
}

input, button {
    border-radius: 45px;
    padding: 0.5em 2em;
}

.search_bar {
    display: flex;
    justify-content: center;
    gap: 40px;
}
.cerita-container {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    gap: 100px;
    margin: 150px 0 0;
    padding: 0 80px 60px;
    justify-content: center;
}

@media (min-width: 801px) and (max-width: 1024px) {
    .cerita-container {
        grid-template-columns: repeat(3, 200px);
        gap: 90px;
    }
}

@media (max-width: 800px) {
    .cerita-container {
        grid-template-columns: repeat(2, 200px);
        gap: 80px;
        padding: 0 40px 150px;
    }
}

@media (max-width: 500px) {
    .cerita-container {
        grid-template-columns: repeat(1, 200px);
        gap: 70px;
        padding: 0 20px 100px;
    }
    
    h1 {
        font-size: 28px;
        margin: 30px auto;
    }
}
.cerita-wrapper {
    width: 200px;
    padding: 15px;
    border-radius: 14px;
    background-color: #6D4A36;
    color: #F7F4E9;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sampul {
    width: 100%;
    height: 270px;
    border-radius: 6px;
    object-fit: cover;
}

.cerita-wrapper h2 {
    margin: 0;
    font-weight: 600;
    font-size: 18px;
    height: 60px;
    display: flex;
    align-items: center;
}

.cerita-wrapper hr {
    margin: 0;
    border: none;
    border-top: 1px solid #F7F4E9;
}

.rating {
    display: flex;
    align-items: center;
    gap: 8px;
}

.star {
    width: 20px;
    height: 20px;
    cursor: pointer;
     transition: transform 0.2s ease;
}

.rating-number {
    font-size: 16px;
    font-weight: 500;
    margin-right: auto;
}

.icon-small {
    width: 19px;
    height: 19px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.icon-small:hover, .star:hover {
    transform: scale(1.2);
}

.pagination {
    margin: 0px 210px 200px;
    justify-content: start;
}
.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

.pagination a.active {
  background-color: #6D4A37;
  color: white;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

footer {
    background-color: #FFF5E7;
    text-align: justify;
    font-family: "Inter";
    font-size: 14px;
}

.footer_top {
    padding: 3em 4em;
    display: flex;
    gap: 150px;
}

.footer_bottom {
    padding: 0.5em 4em;
    text-align: center;
}

.footer_bottom hr {
    border-top: 1.2px solid #000000;
}

#tentang-web, #navigasi, #kontak{
    max-width: 25em; 
}

footer ul {
    list-style-type: none;
    padding-inline-start: 0;
    line-height: 2em;
}

a {
    text-decoration: none;
    color: #000;

}

.cerita-container a:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease;
}